.vscode/launch.json
.vscode/tasks.json
.vs/szy/FileContentIndex/82b87589-53be-4a11-b129-7549b3fd647c.vsidx
.vs/szy/FileContentIndex/233b5901-b966-40dc-a50b-71b778abeac8.vsidx
.vs/szy/FileContentIndex/238fb9b5-a6d6-4339-ae6a-cd7c953a58e8.vsidx
.vs/szy/FileContentIndex/963cacbb-4259-4135-97e8-59e6f09d82d9.vsidx
.vs/szy/FileContentIndex/c375c4ad-fbe8-41c4-a5dc-798c27538916.vsidx
.vs/szy/config/applicationhost.config
.vs/szy/v17/.suo
.vs/szy/v17/DocumentLayout.json
